<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        { .login page
            padding-left: 180px;
            padding-right: 407px;
            shape-outside: padding-box;
            display: inline-table;
            border: yellow;
            background: yellowgreen;
        }
    </style></head>
<body>

    <div class="login page">
    </div>
    <div class="form"></div>
    <input type="text" placeholder="username" style="border-style:solid" ;
           background-color: yellowgreen; />
    <input type="password" placeholder="password" style="border-style:solid" />
    <input type="button" placeholder="login"
    <button>create an account</button>
    <p class="message">not registered?
</p>
    
</html>